<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Campground</title>
</head>

<body>
    <form action="/users" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="user[name]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="user[location]">
        </div>
        <button>Register yourself</button>
    </form>
    <a href="/users">All Volunteers</a>

</body>

</html>