<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>

<body>
    <h1>
        <%= user.name %>
    </h1>
    <h2>
        <%= user.location %>
    </h2>
    <p> <a href="/users/<%=user._id%>/edit">Edit your details</a>
    </p>
    <p>
    <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
        <button>Unsuscribe</button>
    </form>
    </p>
    <footer>
        <a href="/users">All volunteers</a>
    </footer>
</body>

</html>